@mixin spacing ($margin, $width, $padding) {
    margin: $margin;
    width: $width;
    padding: $padding;
}

@mixin nombre-portada {
    color: white;
        position: absolute;
        list-style: none;
        transition: 1s all;
}