/* Colores */
$primary: #29282e;
$secondary: linear-gradient(180deg, rgba(17, 17, 18, 0.53) 0%, rgba(18, 18, 19, 0.76) 6.25%, #232227 100%);
$alternative: black;
$text-color: white;
$third: red;



// Maps

$palette: (

    'primary':#29282e,
    'secondary': linear-gradient(180deg, rgba(17, 17, 18, 0.53) 0%, rgba(18, 18, 19, 0.76) 6.25%, #232227 100%),

    'button': orange,


);


/* Fuentes */

$font-principal: 'Merriweather Sans', sans-serif;


/* Espaciados */


/* Tamaños */


/* Sombras */

$sombra-principal: box-shadow 0 0 20px black;