footer {
    color: $text-color;
    height: 60px;
    background: linear-gradient(180deg, rgba(17, 17, 18, 0.53) 0%, rgba(18, 18, 19, 0.76) 6.25%, #232227 100%);
    display: flex;
    justify-content: end;
}

footer p {
    margin-top: 25px;
    margin-right: 20px;
}

i {
    font-size: 30px;
    color: white;
    margin-right: 15px;
    margin-top: 20px;
    display: inline-block;
}

@media screen and (min-width: 320px) and (max-width:800px) {
    .main {
        display: grid;
        grid-template-areas:
        "menu" 
        "portada"
        "header"
        "juegos"
        "alineacion"
        "reservar"
        "preestrenos"
        "footer"
        ;
        display: block;
    }

    
footer {
    width: 100%;
    display: flex;
    grid-area: footer;
    margin-top: 0px;
}

.footer-2 {
    margin: auto;
}
}

@media screen and (min-width: 800px) and (max-width: 1022px) {
    .main {
        display: grid;
        grid-template-areas:
        "menu" 
        "portada"
        "header"
        "juegos"
        "alineacion"
        "reservar"
        "preestrenos"
        "footer"
        ;
    
    }

    footer {
        width: 100%;
        display: flex;
        grid-area: footer;
        margin-top: 0px;
    }
    
    .footer-2 {
        margin: auto;
    }
    

}

@media screen and (min-width: 1023px) and (max-width: 1200px) {
    .main {
        display: grid;
        grid-template-areas:
        "menu menu" 
        "portada portada"
        "header header"
        "juegos juegos"
        "alineacion alineacion"
        "reservar reservar"
        "preestrenos preestrenos"
        "footer footer"
        ;
        overflow-x: hidden;
        
    }
    footer {
        grid-area: footer ;
        width: 100%;
        display: flex;
        grid-area: footer;
        margin-top: 0px;
    }
}