header {
    padding: 20px;
    text-align: center;
    background: $secondary;
}


ul li{
    
    display: inline-flex;
    border-radius: 10px;
    transition: 1s all ease-in-out;
}

.unorder i {
    display: inline;
    font-size: 29px;
    
}

.nav {
    justify-content: center;
}
.nav a{
    display: inline-block;
    flex-direction: row;
    border-radius: 10px;
    padding: 30px;
    margin: 10px;
    color: white;
    border-color: $alternative;
    background-color: transparent;
    text-decoration: none;
    box-shadow: 0 0 40px 40px black inset;
    justify-content: space-between;
    transition: .4s ease-in-out;
}

.btn_menu {
    margin-right: 30px;
    font-size: 25px;
    color: white;
    cursor: pointer;
    display: none;
}

ul.show {
    top: 90px;
    display: flex;
    left: 0px;
}

.nav a:hover {
    box-shadow: 0px 0px 10px  $alternative inset, 0 0px 10px 4px $text-color;
}



//media queris

@media screen and (min-width: 320px) and (max-width: 800px) {
    .main {
        display: grid;
        grid-template-areas:
        "menu" 
        "portada"
        "header"
        "juegos"
        "alineacion"
        "reservar"
        "preestrenos"
        "footer"
        ;
        display: block;
    }


    
    /* Navegacion */
    
    
    .header {
        
        width: 100%;
    }
    
    .nav a{
        border-radius: 0%;
        border: 0ch;
        display: flex
        
    }
    .nav a:hover {
        box-shadow:none ;
        border-bottom: white;
        
    }
    
    .btn_menu {
        grid-area: menu;
        display: flex;
        
        i {
            box-shadow: 0 0 20px 0 black;
        }
    }
    
    
    .unorder {
        grid-area: menu;
        padding-bottom: 411px;
        position: absolute;
        grid-area: menu;
        display: none;
        border: none;
        background-color: #242325;
        height: calc(100% - 65%);
        top: -100vh;
        text-align: center;
        transition: all .4s;
        box-shadow: 0 0 20px 0 black;
        width: 29%;
        flex-direction: column;
        
    }
    
    
    
    .unorder-dos {
        padding-bottom: 100%;
        
    }
    
    
    .unorder i {
        display: none;
    }
    
    .unorder li {
        grid-area: menu;
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    
    .unorder li:hover {
        grid-area: menu;
        right: auto;
        background: none;
    }
    
    .unorder li a {
        grid-area: menu;
        font-size: 20px;
        color: white;
        font-weight: bold;
        border: 0;
    }
    
    .unorder li a {
        grid-area: menu;
        color: white;
        padding: 0;
        box-shadow: none;
        background: none;
        
    }
    
    
}

@media screen and (min-width: 800px) and (max-width: 1022px) {
    .main {
        display: grid;
        grid-template-areas:
        "menu" 
        "portada"
        "header"
        "juegos"
        "alineacion"
        "reservar"
        "preestrenos"
        "footer"
        ;
    
    }

    .main-dos {
        overflow-x: hidden;
    }
    
/* Navegacion */

.header {
    
    width: 100%;
}

.nav a:hover {
    box-shadow:none ;
    border-bottom: white;
    
}

.btn_menu {
    grid-area: menu;
    display: flex;
    
}

.btn_menu i {
    box-shadow: 0 0 10px 0px black;
}

.unorder {
    padding-bottom: 420px;
    position: absolute;
    grid-area: menu;
    display: none;
    border: none;
    background-color: #242325;
    height: calc(100% - 65%);
    top: -100vh;
    text-align: center;
    transition: all .4s;
    box-shadow: 0 0 20px 0 black;
    width: 29%;
    flex-direction: column;
    
}

.unorder-dos {
    padding-bottom: 48%;
}

.unorder i {
    display: none;
}

.unorder li {
    grid-area: menu;
    margin: 30px 0 0 0;
    line-height: 30px;
}

.unorder li:hover {
    grid-area: menu;
    background: none;
}

.unorder li a {
    grid-area: menu;
    font-size: 20px;
    color: white;
    font-weight: bold;
    border: 0;
}

.unorder li a {
    grid-area: menu;
    color: white;
    padding: 0;
    box-shadow: none;
    background: none;

}

.nav a{
    border-radius: 0%;
    border: 0ch;
    display: flex
    
}
}


@media screen and (min-width: 1023px) and (max-width: 1200px) {
    .main {
        display: grid;
        grid-template-areas:
        "menu menu" 
        "portada portada"
        "header header"
        "juegos juegos"
        "alineacion alineacion"
        "reservar reservar"
        "preestrenos preestrenos"
        "footer footer"
        ;
        overflow-x: hidden;
        
    }

    

.header {
    
    width: 100%;
}

.nav a:hover {
    box-shadow:none ;
    border-bottom: white;
    
}


.btn_menu {
    display: none;    
}

.unorder {
    grid-area: menu;
    display: block;
}

.nav a{
    display: inline-block;
    grid-area: menu;
    flex-direction: row;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: black;
    color: white;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
    justify-content: space-between;
    transition: .4s ease;
}
}